$textColor: #e6e6e6;

.create-post-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em 5.5em;

  .create-post-btn {
    width: 15em;
  }
}

.posts > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  max-width: 45%;
  flex-basis: 45%;
  margin: 1em;
  background: #5bc0de3a;
  > * {
    color: $textColor;
  }

  .post-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .edit-post-input {
    background: transparent;
    color: $textColor;
    padding: 1%;
  }

  .edit-post-input-body {
    margin-bottom: 2%;
  }
}
