$background: linear-gradient(to right, #434343 0%, black 100%);
$font: 'Roboto', sans-serif;

.user-posts {
  background: $background;
  font-family: $font;

  img {
    width: 300px;
    margin: 0 auto;
  }
}
