$background: linear-gradient(to right, #434343 0%, black 100%);
$textColor: rgb(230, 230, 230);
$font: 'Roboto', sans-serif;
$border: 3px solid white;

.user-posts {
  background: $background;
  font-family: $font;

  img {
    width: 300px;
    margin: 0 auto;
  }
}
