.ant-switch {
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 1%;
  background: #404040;

  .ant-switch-inner {
    font-weight: bold;
    font-size: 20px;
  }
}

.light {
  background: linear-gradient(to right, #fff 0%, #a7f2f5 100%);

  .ant-switch {
    background: #5bc0de;
  }

  .user-info,
  .user-cards-container {
    background: linear-gradient(to right, #fff 0%, #a7f2f5 100%);
  }

  input,
  .post {
    border: 0.1em solid #1f1e1e;
  }

  .ant-card-head {
    border-bottom: 0.1em solid #1f1e1e;
  }

  h2,
  p,
  label,
  input,
  div {
    color: #1f1e1e !important;
  }

  .post {
    background-color: #5bc0de !important;
  }

  .ant-input {
    background-color: #5bc0de !important;
  }

  .ant-modal {
    background: none;

    .ant-modal-content {
      background: #5bc0de;

      span {
        color: #1f1e1e !important;
      }
    }
  }

  .notification-success {
    background-color: #a5ffaf;

    .anticon.ant-notification-notice-icon-info {
      color: #13641d;
    }
  }

  .notification-error {
    background-color: #ff7e80;

    .anticon.ant-notification-notice-icon-error {
      color: #5c0002;
    }
  }

  .ant-notification-notice-message,
  .ant-notification-notice-close {
    color: #1f1e1e;
  }
}
