.ant-switch {
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 1%;
  background: #404040;

  .ant-switch-inner {
    font-weight: bold;
    font-size: 20px;
  }
}

.light {
  background: linear-gradient(to right, #fff 0%, #a7f2f5 100%);

  .ant-switch {
    background: #5bc0de;
  }

  .user-info,
  .user-cards-container {
    background: linear-gradient(to right, #fff 0%, #a7f2f5 100%);
  }

  h2,
  p,
  label,
  input,
  div {
    color: #1f1e1e !important;
  }

  .post {
    background-color: #5bc0de !important;
  }

  .ant-input {
    background-color: #5bc0de !important;
  }

  .ant-modal {
    background: none;

    .ant-modal-content {
      background: #5bc0de;

      label,
      input,
      span,
      div {
        color: #1f1e1e !important;
      }

      input {
        border: 0.1em solid #1f1e1e;
      }
    }
  }
}
