.user-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  background: #5bc0de3a;
  border: 0.3em solid #5bc0de;
  margin: 1em auto;
  width: 25em;

  .user-card-img {
    height: 20em;
  }

  .ant-card-body {
    text-align: center;
  }

  .ant-card-meta-title,
  .ant-card-meta-description {
    color: #e6e6e6;
  }

  .user-card-btn {
    margin-top: 1em;
  }
}
