@import '~antd/dist/antd.css';

.ant-list-item {
  cursor: pointer;
}

.ant-empty {
  margin-top: 5em;
}

.ant-form {
  margin-top: 10px;
}

.ant-list-item {
  display: block;
}

.ant-space {
  display: block;
}

.hidden {
  display: none;
}
